/*
  Title: app.component.css
  Author: Erin Brady
  Date: 28 May 2023
  Description: CSS for App component
*/

.bg-bright {
  background-color: #99ff99;
  color: black;
}

nav {
  padding-left: 20px;
}
