<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>708 Church St</p>
      <p> Decatur, Georgia 30030, US</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 212 924-6269</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
      The Zora Neale Hurston Trust is principally maintained by Zora's familial descendants and task themselves with the preservation of her legacy. Visit us online at <a href="https://www.zoranealehurston.com/" target="_blank">https://www.zoranealehurston.com/</a>
    </p>
</div>
