/*
  Title: book-list.component.css
  Author: Erin Brady
  Date: 14 July 2023
  Description: Book List styles
*/

.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}

h2 {
  color: green;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}

.grid-container__item {
  padding: 20px;
  font-size: 30px;
}

.grid-container__ahref {
  text-decoration: none;
  cursor: pointer;
}

.grid-container__ahref:hover {
  text-decoration: underline;
}
