<!--
  Title: app.component.html
  Author: Erin Brady
  Date: 3 June 2023
  Description: App Component HTML
-->

<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-bright navbar-light">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="nav-link" href="/composer-list">Composer List</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact Us</a>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>
