<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/zora_NH.jpg" width="80%" />
      </div>
      <div>
        <em>
          Photograph by Carl Van Vechten, 1938 from <a class="attribution-link" href="https://www.britannica.com/biography/Zora-Neale-Hurston/images-videos" target="_blank">Britannica</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Zora Neale Hurston</h1>
    <p>
      Zora Neale Hurston was born on January 7, 1891, in Alabama. She grew up in Eatonville, Florida, one of the first all-Black towns in America. Hurston attended Howard University, Barnard College, and Columbia University, and is best known as a prominent figure during the Harlem Renaissance, a cultural movement celebrating African-American arts in the 1920s. She conducted field research on African American culture and spirituality, such as the Hoodoo tradition. Her literary works, made up of novels, plays, and essays, depicted the lives of Black people with a vivid and authentic voice. Despite facing financial struggles and a decline in popularity, interest in her contributions to literature resurged in the late 20th century, and her exploration of Black identity continues to be recognized and celebrated today. She passed away on January 28, 1960.
    </p>
  </div>
</div>
