<!--
  Title: about.component.html
  Author: Erin Brady
  Date: 3 June 2023
  Description: About Component HTML
-->

<div class="row">
  <div class="col-sm-5">
    <img src="../../assets/composer-portrait.jpg" id="portrait" alt="Portrait of Joseph Bologne, the Chevalier de Saint-Georges.">
    <caption><i>Joseph Bologne, the Chevalier de Saint-Georges.</i></caption>
  </div>

  <div class="col-sm-7">
    <blockquote cite="https://www.smithsonianmag.com/smart-news/a-new-biopic-recognizes-black-composer-and-polymath-joseph-bologne-180982031/">
      Born in 1745 in the French Caribbean colony of Guadeloupe, Bologne was the son of a wealthy plantation owner and an enslaved 16-year-old girl from Senegal. After moving to Paris, where his mother became a free woman, he studied music, mathematics, literature and fencing at La Boëssière Academy.
      <br><br>
      ...In a biographical notice written soon after his death, a friend praised “his upstanding character and his accomplishments as a swordsman, a dancer, a swimmer, an ice skater and so on,” adds Doe. “It's truly extraordinary."
    </blockquote>

  </div>
</div>
